name: Bolt Boost CI

on:
  push:
    paths:
      - "bolt-boost/**"
  pull_request:
    paths:
      - "bolt-boost/**"

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cargo-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      RUST_BACKTRACE: 1

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Build
        run: cd bolt-boost && cargo build

      - name: Lint Code with Clippy
        run: cd bolt-boost && cargo clippy --all-targets --all-features -- -D warnings

      - name: Install cargo-nextest
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-nextest

      - name: Install Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run bolt-boost tests
        run: cd bolt-boost && cargo nextest run --workspace --retries 3
        env:
          RPC_URL: ${{ secrets.RPC_URL }}
